{% extends 'myapp/base.html' %}

{% block title %}{{ chapter.title }}{% endblock %}

{% block content %}
<h1 class="text-yellow-400 text-3xl mb-4">{{ chapter.title }}</h1>
<p>Глава {{ chapter.number }}</p>
<iframe class="w-full h-[1200px]" src="{{ chapter.pdf_file.url }}" width="100%" height="1200px"></iframe>
<div class="flex justify-between mt-4">
    {% if prev_chapter %}
    <a class="text-yellow-400 no-underline hover:underline" href="{% url 'myapp:chapter_detail' prev_chapter.id %}">Попередня глава</a>
    {% endif %}

    {% if next_chapter %}
    <a class="text-yellow-400 no-underline hover:underline" href="{% url 'myapp:chapter_detail' next_chapter.id %}">Наступна глава</a>
    {% endif %}
</div>
<div class="mt-4">
    <a class="text-blue-400 no-underline hover:underline" href="{% url 'myapp:editchapter' chapter.id %}">Редагувати главу</a>
    <a class="text-red-400 no-underline hover:underline ml-4" href="{% url 'myapp:deletechapter' chapter.id %}">Видалити главу</a>
</div>
<p class="mt-4"><a class="text-yellow-400 no-underline hover:underline" href="{% url 'myapp:indexManga' chapter.manga.id %}">Назад до манги</a></p>
{% endblock %}
