{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Manga Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myapp/style2.css' %}">
</head>
<body class="bg-gray-950 text-white font-sans p-5">
    <nav class="bg-gray-800 shadow-lg p-4 mb-6">
        <div class="container mx-auto flex items-center justify-between">
            <div>
                <a href="{% url 'index' %}">
                    <img class="h-8 w-8" src="{% static 'myapp/images/logo.jpg' %}" alt="Logo">
                </a>
            </div>
            <div class="ml-6">
                <a class="nav-link" href="{% url 'index' %}">Головна</a>
                <a class="nav-link ml-4" href="{% url 'catalog' %}">Про користувача</a>
            </div>
        </div>
    </nav>
    <div class="container mx-auto">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
